@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body {
  font-family: Open Sans, Arial;
  font-weight: 300;
  background: #fff;
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  html { font-size: 1.75rem; }
}
@media (min-width: 768px) {
  html { font-size: 2rem; }
}
@media (min-width: 992px) {
  html { font-size: 2.15rem; }
}
@media (min-width: 1200px) {
  html { font-size: 2.15rem; }
}

a:link {
  text-decoration: none;
}

a:hover{
  border-bottom: 2px dashed;
}

.row {
  margin-top: 10%;
  margin-left: 5%
}


#github {
  color:#A086D3;
}

#twitter {
  color: #1da1f2;
}

#resume {
  color: #ff4f81;
}

#pr {
  color: #4078c0;
}

#email {
  color: #fbbc05;
}
