@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body {
  font-family: Open Sans, Arial;
  font-weight: 300;
  background: #fff;
}

#container {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

#cell {
  display: table-cell;
  vertical-align: middle;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 1000px; /*whatever width you want*/
}

a:link {
  text-decoration: none;
}

a:hover{
  border-bottom: 2px dashed;
}

#github {
  color:#A086D3;
}

#twitter {
  color: #1da1f2;
}

#resume {
  color: #ff4f81;
}

#pr {
  color: #4078c0;
}

#email {
  color: #fbbc05;
}
