@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700);

body {
  font-family: Roboto, Arial;
  background: #eee;
  margin-top: 30px;
  margin-left: 30px;
}

.title {
  margin-bottom: 0;
}

.subtitle {
  color: #727272;
  font-family: Roboto Mono, monospace;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 15px;
}

p {
  margin-top: 3px;
  margin-bottom: 3px;
}

a:link {
  color: #F50057;
}
a:visited {
color: #FF4081;
}
a:hover {
color: #d50000;
}
