@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700);

body {
  font-family: Roboto, Arial;
  background: #000;
  margin-top: 30px;
  margin-left: 30px;
}

.title {
  margin-bottom: 0;
  color: #fff;
  font-size: 44px;
}

.subtitle {
  color: #aaa;
  font-family: Roboto Mono, monospace;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 15px;
}

p {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 22px;
  color: #eee;
}


a:link {
  color: #eee;
  background-color: #4A148C;
  text-decoration:  none;  
}

a:visited {
  color: #eee;  
}

a:hover {
  color: #eee;
  background-color: #AA00FF; 
}
