@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700);

body {
  font-family: Roboto, Arial;
  background: #F22613;
  margin-top: 30px;
  margin-left: 30px;
}

.title {
  margin-bottom: 0;
  color: #EDF2F4;
  font-size: 44px;
}

.subtitle {
  color: #333;
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
}

p {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 22px;
  color: #EDF2F4;
}


a:link {
  color: #eee;
  background-color: #CF000F;
  text-decoration:  none;  
}

a:visited {
  color: #EDF2F4;  
}

a:hover {
  color: #eee;
  background-color: #333; 
}
