---js
const eleventyNavigation = {
	key: "About",
	order: 3
};

const numberOfLatestPostsToShow = 3;
---

<p>
Hi! I am Anshul Chauhan. This is my personal website. By profession, I am a
software craftsman. Some of my interests outside of programming are:
<a href="https://x.com/anshulxyz/status/1865803780635447451" target="_blank">playing football</a>,
playing <a href="{{ '/go-game' | url }}">Go</a> and skateboarding.
</p>

<p>
Here I plan to write just about anything that catches my fancy. To document
various things in life.
</p>

<p>
All opinions are my own and not a representation of my employers.
</p>

<p>
You can find me on <a href="www.twitter.com/anshulxyz">twitter</a> and <a
href="www.github.com/anshulxyz">github</a>.
</p>

