<p class="site-intro">
  Hi, I am <span style="color: #f14e32;"><b>Anshul Chauhan</b></span>.
</p>
<p class="site-intro">
  I'm a software developer. I help <a href="https://www.senquire.com">Senquire</a> build software products.
  <!-- I started with building backend using Python/DJango. I am, simultaneously, also
  learning ReactJS and other aspects of software development. -->
</p>
<p class="site-intro">
  I am teaching myself Mathematics, Computer Science, Philosophy, and German.
  My goal is to travel the world while doing what I love, which is solving problems
  through code. Other things that I really love to do are playing football,
  cooking, riding motorcycles on rough terrain, and reading books that jolt my mind.
</p>
<p class="site-intro">
  twitter/<a href="https://twitter.com/anshulxyz">anshulxyz</a><br />
  github/<a href="https://github.com/anshulxyz">anshulxyz</a>
</p>