<p class="site-intro">
  I am a software developer.
</p>
<p class="site-intro">
  I help <a href="https://www.senquire.com">Senquire</a> build software.
  I started with building backend using Python/DJango. Now I am also learning
  ReactJS. And other getting my hands dirty in other aspects of software development.
</p>
<p class="site-intro">
  I am teaching myself Mathematics, Computer Science, Philosophy and German.
  My goal is to travel the world while doing what I love, that is solving
  problems through code. Other things that I really love to do are playing
  football, cooking, riding motorcycle on rough terrain.
</p>
<p class="site-intro">
  twitter/<a href="https://twitter.com/anshulxyz">anshulxyz</a><br/>
  github/<a href="https://github.com/anshulxyz">anshulxyz</a>
</p>