<p class="site-intro">
  Hi 👋 I am <span class="intro-name">Anshul Chauhan</span>.
</p>
<p class="site-intro">
  I'm a software developer. Currently at <a href="https://www.senquire.com">Senquire</a> building software products.
</p>
<p class="site-intro">
  I am studying Mathematics, Computer Science, and German.
</p>
<p class="site-intro">
  Here I (plan to) share my learnings, writings, projects and musings.
</p>
<p class="site-intro">
  I am also on Twitter as <a href="https://twitter.com/anshulxyz">@anshulxyz</a>.<br/>
  I sometimes write/contribute to Open Source at <a href="https://github.com/anshulxyz">github.com/anshulxyz</a>.<br/>
  📧 <span style="font-family: 'Courier New', Courier, monospace;">anshulchauhan [at] outlook [dot] com</span>
</p>