@use "colors.scss" as *;

$sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

$serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid
Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe
UI Symbol;

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.6;
  font-family: $sans-serif;
  font-size: calc(1em * 0.95);
  background-color: $color-blue-6;
  color: $color-blue-1;
}

h1,
h2,
h3 {
  margin: 2em 0 0;
}

p {
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: lighten($color-blue-3, 20%);
  background: none;
}


a:hover,
a:focus {
  text-decoration: underline;
}

hr {
  margin: 2rem 0rem;
}


code,
pre {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  font-size: calc(1em * 0.9);
}

footer {
  padding-top: 3em;
}

.lineno {
  user-select: none;
}

blockquote {
  margin-left: 0;
  padding-left: 1rem;
  border-left: 0.2rem solid $color-blue-2;
  color: $color-blue-2;
}

.footnotes {
  margin: 0;
  font-size: calc(1em * 0.85);
  color: $color-gray-3;
}

.muted {
  color: #7285b7;
}

ul {
  padding-left: 1rem;
}

ul ul {
  padding-left: 1.3rem;
}

ol {
  padding-left: 1rem;
}

ol ol {
  padding-left: 1.3rem;
}

figure {
  margin: 0;
}
