$dark-black: #121213;
$black: #1d1d1f;
$red: #b72c31;
$orange: #e36942;
$yellow: #d48207;
$green: #10505b;
$blue: #25476d;
$purple: #353a71;
$silver: #c7c8ca;
$red-light: #eeb8b0;
$orange-light: #e9aa95;
$yellow-light: #eaca96;
$green-light: #a4beb2;
$blue-light: #a8bed2;
$purple-light: #abacca;
$red-text: #b62c31;
$orange-text: #ef5602;
$yellow-text: #c98000;
$green-text: #006e82;
$blue-text: #26476d;
$purple-text: #4f5381;
$silver-text: #a1a1a6;
$white: #fafafa;
$env-mask: #dcf3ea;
$specs-env-background: #f6f6ee;

$sans-serif: "Neuve Grotesque", "Inter", -apple-system, BlinkMacSystemFont,
"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$serif: 'Domine', serif;

body {
  background-color: black;
  color: $white;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  font-size: 16px;
  color: #bbb;
  h1,h2,h3,h4 {
    font-family: $sans-serif;
    font-weight: 200;
  }
  p {
    font-size: 1.2rem;
    font-family: $serif;
  }
}

.muted {
  font-weight: 300;
  color: $silver-text;
}

// font size of code
.highlight {
  font-size: 14px;
}

.intro {
  margin-top: 30%;
}

.outro {
  position: absolute;
  bottom: 2rem;
}

a {
  text-decoration: none;
  // border-bottom: 1px solid $red;
  background: linear-gradient(to right, royalblue, royalblue 50%, dodgerblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;

}
a:hover {
  // color: $yellow-text;
  text-decoration: none;
  background-position: 0 100%;

}
a:active {
  color: $blue-light;
}

ul,
ol {
  padding-left: 1.3rem;
}

blockquote {
  color: $silver-text;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin: 1rem 0rem;
  border-left: 0.2rem solid $silver-text;
}

blockquote.red {
  color: $red-light;
  margin: 1rem 0rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  border-left: 0.2rem solid $red;
}

// ::selection {
//   color: $white;
//   background: $black;
// }

.footnotes {
  font-size: small;
  line-height: 0.4rem;
}

// home
.container {
  margin-top: 2rem;
}

// post top-nav

.post-topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.post-topnav p {
  float: left;
  text-align: center;
  padding: 4px 0px 8px 0px;
  text-decoration: none;
  font-family: $sans-serif;
}

/* Right-aligned section inside the top navigation */
.post-topnav-right {
  float: right;
  padding: 0px;
}
