@use "colors.scss" as *;

$sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

$serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid
Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe
UI Symbol;


html {
  max-width: 65ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.6;
  font-family: $sans-serif;
  font-size: calc(1em * 1.1);
  background: $color-cinnamon-1;
  color: $color-gray-6;
}

h1,
h2,
h3,
h4 {
  margin: 1em 0 0;
}

p {
  margin-top: 1em;
}

// link
a {
  color:$color-indigo-4;
}

a:hover,
a:focus {
  text-decoration: underline;
}

hr {
  height: 1px;
  border-width: 0px;
  margin: 2rem 0rem;
  color: $color-gray-3;
  background-color: $color-gray-3;
}

code,
pre {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  font-size: calc(1em * 0.9);
}

footer {
  padding-top: 3em;
  text-align: center;
}

.lineno {
  user-select: none;
}

blockquote {
  margin: 0;
  margin: 2rem;
  padding: 0.1rem 1rem;
  color: $color-sky-4;
  background: $color-sky-1;
  border-left: 5px solid;
  border-color: $color-sky-2;
  //border-radius: 10px;
}

.footnotes {
  margin: 0;
  line-height: 50%;
  font-size: calc(1em * 0.85);
  color: $color-gray-4;
}

.muted {
  color: lighten($color-gray-3, 10%);
}

.title {
  color: $color-red-5;
}

hr.title {
  height: 1px;
  background-color: $color-red-5;
  border: none;

}

ul {
  padding-left: 1rem;
}

ul ul {
  padding-left: 1.3rem;
}

ol {
  padding-left: 1rem;
}

ol ol {
  padding-left: 1.3rem;
}

figure {
  margin: 0;
}

// .language-plaintext {
//   background: lighten($color-amber-2, 5%);
// }

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: $color-gray-3;
  margin: auto;
}

td {
  padding: 0.5rem;
}
