@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: JetBrains Mono;
  src: url("../fonts/JetBrainsMono-Regular.ttf");
}

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.6;
  // font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-family: 'Gentium Book Basic', serif;
  font-size: 1rem;
  background-color: #E8FFFF;
  color: #213E3B;
}

h1,h2,h3,h4 {
  margin: 3em 0 1em;
  border-bottom: 1px solid;
}

h3,h4 {
  margin: 3em 0 1em;
  border-bottom: 1px solid lighten(#213E3B, 50);
}

p {
  margin-bottom: 2em;
}

a {
  text-decoration: none;
  color: #1672F9;
  background: none;
}


a:hover, a:focus {
  text-decoration: underline;
}

hr {
  margin: 2rem 0rem;
}


code, pre {
  font-family: 'JetBrains Mono', monospace;
  font-size: calc(1em * 0.87);
}

code.language-plaintext.highlight.highlighter-rouge {
  font-size: calc(1em * 0.83);
}

code.language-plaintext.highlighter-rouge {
  font-size: calc(1em * 0.83);
}

footer {
  padding-top: 3em;
}

.lineno {
  user-select: none;
}

.menu {
  padding: 0;
  // list-style-type: none;
  line-height: 1.2em;
  margin-top: 0.1em;
}

.menu li {
  margin-left: 1rem;
}

.menu-title { 
  margin-bottom: 0;
}

blockquote {
  margin-left: 0;
  padding-left: 1rem;
  border-left: 0.5rem solid #98e2dd;
  p {
    color: #249993;
  }
}

.footnotes {
  p {
    margin: 0
  }
}

.muted {
  color: #a4d3d0;
  a {
    color: #a4d3d0;
  }
}
