@import url("https://unpkg.com/reasonable-colors@0.4.0/reasonable-colors.css");

@font-face {
  font-family: JetBrains Mono;
  src: url("../fonts/JetBrainsMono-Regular.ttf");
}

html {
  max-width: 60ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.6;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: calc(1em * 0.9);
  background-color: var(--color-teal-1);
  color: var(--color-teal-5);
}

h1 {
  margin: 3em 0 1em;
  border-bottom: 1px solid;
}

h2,h3,h4 {
  margin: 2em 0 1em;
}

p {
  margin-bottom: 2em;
}

a {
  text-decoration: none;
  color: var(--color-indigo-4);
  background: none;
}


a:hover, a:focus {
  text-decoration: underline;
}

hr {
  margin: 2rem 0rem;
}


code, pre {
  font-family: 'JetBrains Mono', monospace;
  font-size: calc(1em * 0.87);
}

code.language-plaintext.highlight.highlighter-rouge {
  font-size: calc(1em * 0.83);
}

code.language-plaintext.highlighter-rouge {
  font-size: calc(1em * 0.83);
}

footer {
  padding-top: 3em;
}

.lineno {
  user-select: none;
}

blockquote {
  margin-left: 0;
  padding-left: 1rem;
  border-left: 0.5rem solid var(--color-teal-3);
  p {
    color: var(--color-teal-3);
  }
}

.footnotes {
  p {
    margin: 0
  }
}

.muted {
  color: var(--color-teal-3);
}

ul {
  padding-left: 1rem;
}

ul ul {
  padding-left: 1.3rem;
}

ol {
  padding-left: 1rem;
}

ol ol {
  padding-left: 1.3rem;
}

.project {
  border: 1px solid var(--color-teal-3);
  padding: 1rem;
}
