html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.6;
  font-size: calc(1em * 0.875);
}

h1,h2,h3,h4,h5,h6 {
  margin: 3em 0 1em;
  border-bottom: 1px solid #1d1d1d;
}

p,ul,ol {
  margin-bottom: 2em;
  color: #1d1d1d;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #0645ad;
  background: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

hr {
  margin: 2rem 0rem;
}
