@use "colors.scss" as *;

$sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

$serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid
Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe
UI Symbol;

html {
  max-width: 60ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.6;
  font-family: $sans-serif;
  font-size: calc(1em * 0.95);
  background-color: $color-gray-1;
  color: $color-gray-6;
}

h1,
h2,
h3 {
  margin: 2em 0 1em;
}



h4 {
  margin: 1em 0 1em;
}

p {
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: lighten($color-indigo-3, 0%);
  background: none;
}


a:hover,
a:focus {
  text-decoration: underline;
}

hr {
  margin: 2rem 0rem;
}


code,
pre {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  font-size: calc(1em * 0.87);
}

code.language-plaintext.highlight.highlighter-rouge {
  font-size: calc(1em * 0.83);
}

code.language-plaintext.highlighter-rouge {
  font-size: calc(1em * 0.83);
}

footer {
  padding-top: 3em;
}

.lineno {
  user-select: none;
}

blockquote {
  margin-left: 0;
  padding-left: 1rem;
  border-left: 0.3rem solid $color-gray-3;
  //color: $color-gray-3;
}

.footnotes {
  margin: 0;
  font-size: calc(1em * 0.85);
  color: $color-gray-3;
}

.muted {
  color: lighten($color-gray-3, 15%);
}

ul {
  padding-left: 1rem;
}

ul ul {
  padding-left: 1.3rem;
}

ol {
  padding-left: 1rem;
}

ol ol {
  padding-left: 1.3rem;
}

pre.highlight,code.highlight {
  //background: darken($color-gray-6, 5%);
}
