@import url("https://unpkg.com/reasonable-colors@0.4.0/reasonable-colors.css");

html {
  max-width: 60ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: calc(1em * 0.95);
  background-color: ghostwhite;
  color: var(--color-gray-6);
}

h1 {
  font-size: 230%;
  margin: 3em 0 1em;
}

h2,h3 {
  margin: 2em 0 1em;
}

h4 {
  margin: 1em 0 1em;
}

p {
  margin-bottom: 2em;
}

a {
  text-decoration: none;
  color: var(--color-indigo-3);
  background: none;
}


a:hover, a:focus {
  text-decoration: underline;
}

hr {
  margin: 2rem 0rem;
}


code, pre {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  font-size: calc(1em * 0.87);
}

code.language-plaintext.highlight.highlighter-rouge {
  font-size: calc(1em * 0.83);
}

code.language-plaintext.highlighter-rouge {
  font-size: calc(1em * 0.83);
}

footer {
  padding-top: 3em;
}

.lineno {
  user-select: none;
}

blockquote {
  margin-left: 0;
  padding-left: 1rem;
  border-left: 0.1rem solid var(--color-teal-3);
  p {
    color: var(--color-teal-4);
  }
}

.footnotes {
  p {
    margin: 0
  }
}

.muted {
  color: var(--color-gray-3);
}

ul {
  padding-left: 1rem;
}

ul ul {
  padding-left: 1.3rem;
}

ol {
  padding-left: 1rem;
}

ol ol {
  padding-left: 1.3rem;
}

.project {
  border: 1px dashed var(--color-gray-3);
  padding: 1rem;
}

.gradient-name {
  background: #FD4D00;
  background: linear-gradient(to bottom right, #FD4D00 25%, #DB0072 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
