<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <div class="container">
    <div class="row title-row">
      <div class="col">
        <span class="title-title"> <strong>{{ site.title }}</strong></span>
        <a href="https://twitter.com/{{ site.username }}">
          <i class="fa fa-twitter" style="font-size:2rem; color: #d31107"></i></a>

        <br />
        interested in software development and data science
        <br />
        📨 {{ site.email }}
      </div>
    </div>
    {% include footer.html %}
  </div>
</body>

</html>