<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="title">Hi, I'm <strong>{{ site.title }}</strong>.</h2>
        <p>
          I write Backend code.
          I'm studying Full-Stack Nanodegree at Udacity.<br/>
          I want to build things and talk about them here. <br/>
          <!-- I'm interested in bootstrap businesses and data science. <br/> -->
          You can find me on <a href="https://twitter.com/{{ site.username }}">twitter</a>
          and <a href="https://github.com/{{ site.username }}">github</a>.
        </p>
        <p>
          Or email me: anshulchauhan@outlook.com
        </p>
      </div>
    </div>
    <div class="row">
      {% assign number_of_posts = site.posts | size %}
      {% if number_of_posts > 0 %}
      <h3><strong>Posts</strong></h3>
      {% endif %}
      <ul>
        {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    {% include footer.html %}
  </div>
</body>

</html>