<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{ site.title }}</h1>
        <p>
          a developer who is interested in data science
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Contact</h2>
        <table>
          <tr>
            <td>📨</td>
            <td>email</td>
            <td><a href="mailto:{{ site.email }}">{{ site.email }}</a></td>
          </tr>
          <tr>
            <td>🐦</td>
            <td>twitter</td>
            <td><a href="https://twitter.com/{{ site.username }}">anshulxyz</a></td>
          </tr>
          <tr>
            <td>🐙</td>
            <td>github</td>
            <td><a href="https://github.com/{{ site.username }}">anshulxyz</a></td>
          </tr>
        </table>
      </div>
    </div>
    {% include footer.html %}
  </div>
</body>

</html>