<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <div class="container">
    <div>
      <!--<a href="/">&larrb; Home</a>-->
      <a href="/" class="muted">Anshul Chauhan</a>
    </div>
    <div>
      <h1>{{ page.title }}</h1>
      <hr />
    </div>
    <div>
      <div>{{ content }}</div>
    </div>
    <div>
      <p class="muted" style="font-size: 0.85rem;">First published on {{ page.date | date_to_long_string: "ordinal" }}</p>
    </div>
    <footer>
      <a href="https://twitter.com/anshulxyz">Twitter</a> &mdash;
      <a href="https://github.com/anshulxyz">GitHub</a> &mdash;
      <a href="mailto:anshulc1995@gmail.com">Email</a> &mdash;
      <a href="{% link archive.md %}">Archive</a>
    </footer>
  </div>
  
  <!--
  <script src="https://utteranc.es/client.js"
        repo="anshulxyz/anshulxyz.github.io"
        issue-term="pathname"
        label="blog"
        theme="boxy-light"
        crossorigin="anonymous"
        async>
  </script>
  -->

</body>

</html>
