<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include footer.html %}
  <div class="container">
    <div>
      <h1>{{ page.title }}</h1>
    </div>
    <div>
      <div>{{ content }}</div>
    </div>
  </div>
  {% include footer.html %}
  <!--
  <script src="https://utteranc.es/client.js"
        repo="anshulxyz/anshulxyz.github.io"
        issue-term="pathname"
        label="blog"
        theme="photon-dark"
        crossorigin="anonymous"
        async>
  </script>
  -->
</body>

</html>
